<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= comp.comp_name %> - <%= climb.climb_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
    <a href="/competitions/climbs/<%= climb.comp_id %>">Back</a>
    
    <h1><%= comp.comp_name %></h1>
    <h2><%= climb.climb_name %></h2>


</body>
</html>